@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-primary: 'Manrope', sans-serif;
}

@theme {
  --color-primaryBlue: #2563EB;
  --color-accentOrange: #F59E0B;

  --color-TextPrimary: #111827;
  --color-TextSecondary: #595E68;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-primary);
}

/* Dark Theme */
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-primary);
}
